

.horizontal{
  
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    /* height: 100px;
    width: 500px; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* scroll-behavior: hidden; */
    scroll-behavior:smooth;
    /* display: flex; */
  
    }

    .horizontal2{
      display: flex;
    }
    
.slide1 {
    /* width: 1000px; */
    /* margin: 10px; */
    margin: 10px 10px 10px 0;
    display: inline-block;
   
}
.s4{
   height: 250px
}

.responsive {
  width: 100%;
  height: auto;
}
.position{
  position: relative;
}
/* div.relative {
  position: relative;
  bottom: 10px;
  border: 3px solid #73AD21;
} */

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.bottomleft2 {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 18px;
}

.card1{
  display: flex;
  flex-direction: row;
  width: 1000px;
}

/* .imag{
  max-height: 250px;
} */

.imag img{
  height: 250px;
  width: 100%;
  object-fit: contain;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.generborder{
  border: 1.8px solid whitesmoke;
  border-radius: 10px;
  padding: 1px 5px;
  /* border-style: groove; */
}

/* img:hover{
  height: 90vh;
  width: 90vw
} */

.c1 img{
  height: 50vh;
  /* /* width: 90vw; */
  object-fit: fill;
  /* margin: auto; */ 
}

.carousel-inner2 {
  position: relative;
  width: 70rem;
  overflow: hidden;
  display: flex;
  /* justify-content: start; */
  align-content: center;
  margin: 15px auto;
  border: 0.1rem solid whitesmoke !important;
  border-radius: 15px
}
/* .c5{
  width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
} */

.c3 image{
  max-height: 300px;
  max-width: auto;
}

body{
  /* background-color: black; */
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* background: linear-gradient(to right, #000428, #004e92); */
  /* background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%); */
  background: linear-gradient(to right, #b92b27, #1565c0);
  /* background: linear-gradient(to right, #1488cc, #2b32b2); */
}
.bcolor{
  background-color: transparent !important;
  color: white !important;
  /* border: 0.1rem solid #1266f1 !important; */
  border: 0.1rem solid whitesmoke !important;
  border-radius: 10px;
  border-collapse: collapse !important;
  box-shadow: #1266f1 !important;
}
.hbcolor{
  background-color: transparent !important;
  color: white !important;
  /* border: 0.1rem solid #1266f1 !important; */
  border: 0.1rem solid whitesmoke !important;
  border-radius: 10px;
  border-collapse: collapse !important;
  box-shadow: #1266f1 !important;
  object-fit: fill;
  
}
.bodycolor{
  /* background-color: black; */
  /* background: linear-gradient(to right, #16222a, #3a6073); */
  /* background: linear-gradient(to right, #200122, #6f0000); */
  /* background: linear-gradient(to right, #780206, #061161); */
  background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  color: rgba(255, 255, 255, 0.872) !important;
}
/* .stick{
  position :absolute;
} */

.horizontal .card{
  background-color: transparent !important;
}

.inputbackground{
  display: block;
  width: 100%;
    /* margin: 10px auto; */
    padding: 5px 10px;
    background: transparent;
    color: whitesmoke !important;
    /* border: 0.5px solid #7f7a7a; */
    border: 0.125rem solid whitesmoke !important;
    border-radius: 5px;
}
/* 
.sbtn{
  
  
  position: relative;
  top: 70px;
  right: 5%;
  z-index: 1;
  left: 70vw;
  border-radius: 10px;
} */

.sbtnc{

  display: flex;
  flex-direction: row-reverse;
  height:50px;
  border: 2px solid white;
  position: fixed;
  background-color: black;
  padding:5px;
  width: 90vw;
  margin: 0 17px;
  z-index: 1;
}
/* width */
::-webkit-scrollbar {
  height: 0.25rem;
  width: 0;
}

/* ::-webkit-scrollbar-button{
  background:#ccc;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  /* background: linear-gradient(to right, #b92b27, #1565c0); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
  background: linear-gradient(to right, #b92b27, #1565c0);
  
}

.linkcolor{
  text-decoration: none;
  color: whitesmoke;
  
}

.linkcolor:hover{
  color:#90fcba !important;
}
